<!-- Fixed Footer -->
<footer>

    <nav class="navbar fixed-bottom">
        <p class="navbar-text">&copy; 2022 Minyoung Seol #301203510 COMP229-001 Centennial College All Rights Reserved.</p>
    </nav>

</footer>